* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Poppins", sans-serif !important;
}

html {
  box-sizing: border-box;
}

body,
html {
  line-height: 1.5;
  box-sizing: border-box;
}

:root {
  --red: #f44336;
}

/* Nav Bar */

nav {
  width: 300px;
  margin: 0;
  padding: 8px 16px;
  background-color: var(--red);
  color: #fff;
  height: 100%;
  position: fixed;
  top: 0;
}

.heading {
  padding: 0.01em 16px;
}

h3 b {
  font-size: 24px;
}

.heading h3 {
  margin: 10px 0;
  padding: 64px 0;
  font-weight: 400;
}

a {
  display: block;
  padding: 8px 16px;
  text-align: left;
  color: inherit;
  background-color: inherit;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  color: black;
  background-color: #fff;
}

/* Main Content */

.main__content {
  margin: 0 40px 0 340px;
}

/* Home */

.top {
  margin: 80px 0 0 0;
}

.home__heading b {
  font-size: 64px;
  font-weight: bolder;
  margin: 10px 0;
}

/* Showcase */
hr {
  width: 50px;
  border: 5px solid red;
  border-radius: 4px;
  margin: 20px 0;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.gallery__container {
  padding: 0 8px;
}

.side {
  width: 50%;
  float: left;
  padding: 0 8px;
}

.side img {
  margin-bottom: 12px;
  vertical-align: middle;
  width: 100%;
  margin-bottom: -6px;
  margin-top: 16px;
  opacity: 0.8;
  cursor: pointer;
}

.side img:hover {
  opacity: 1;
}

.the__team {
  filter: grayscale(75%);
}

.john__doe,
.jane__doe,
.mike__ross {
  background-color: #f1f1f1;
}

.container {
  width: calc(100% / 3);
  float: left;
  padding: 0 8px;
  margin-bottom: 16px;
}

.container img {
  width: 100%;
}

.red__text {
  color: var(--red);
  font-size: 48px;
  font-weight: bolder;
}

.center__text {
  padding: 0.01em 16px;
  display: inline-block;
  width: -webkit-fill-available;
}

.p__styles {
  font-size: 16px;
  margin: 16px 0;
}

.content {
  padding: 0.01em 16px;
}

.content h3 {
  margin: 10px 0;
  font-size: 24px;
  font-weight: 400;
}

.content p:first-of-type {
  opacity: 0.6;
}

.content p {
  margin: 16px 0;
  font-size: 16px;
}

.price__list__container {
  padding: 0 8px;
  display: flex;
}

.side-1 {
  width: 50%;
  float: left;
  padding: 0 8px;
  margin-bottom: 16px !important;
}

.price__side {
  background-color: #f1f1f1;
  color: #000;
}

.price__side li {
  padding: 16px;
  font-size: 16px;
  border-bottom: 1px solid #ddd;
  list-style-type: none;
  text-align: center;
}

.list__button {
  padding: 24px 16px !important;
  border-bottom: none;
}

.button__sign__up {
  background-color: white;
  border: none;
  font-size: 16px;
  padding: 12px 24px;
}

.button__sign__up:hover {
  background-color: black !important;
  color: white;
}

.price__side .price__items__heading {
  padding: 32px 16px;
  color: #fff !important;
  font-size: 24px;
  background-color: #616161;
}

.red {
  background-color: var(--red) !important;
  color: white;
}

.price__text {
  color: white;
  font-size: 24px;
  margin: 10px 0;
  padding: 16px 0;
}

.price__items h2 {
  margin: 10px 0;
  font-size: 30px;
  font-weight: 400;
}

#modal {
  z-index: 3;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  color: #fff !important;
  background-color: #000 !important;
}

#modal span {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

#modal div {
  background-color: transparent !important;
  padding: 64px 0;
  text-align: center !important;
  animation: animatezoom 0.6s;
  width: 900px;
  margin: auto;
  background-color: #fff;
  position: relative;
  outline: 0;
}

#modal div img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

#modal div p {
  text-align: center !important;
  color: white;
  font-size: 16px;
  padding: 16px 0;
}
